volumes:
  db_data_pre-prod:

services:

  db:
    image: postgres:17
    container_name: likes-it-db-pre-prod
    restart: always
    environment:
      POSTGRES_DB: ${BDD_NAME}
      POSTGRES_USER: ${BDD_USER}
      POSTGRES_PASSWORD: ${BDD_PASSWORD}
    volumes:
      - db_data_preprod:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  back:
    image: ghcr.io/likes-it/api:pre-prod
    container_name: likes-it-api-pre-prod
    restart: unless-stopped
    ports:
      - "8001:8000"
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DATABASE_URL: ${DATABASE_URL}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_PUBLIC_URL: ${MINIO_PUBLIC_URL}
      MINIO_BUCKET: ${MINIO_BUCKET}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  frontend:
    image: ghcr.io/likes-it-front:pre-prod
    container_name: likes-it-front-pre-prod
    restart: unless-stopped
    ports:
      - "3001:3000"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower-pre-prod
    restart: always
    command:
      - --interval
      - "${WATCHTOWER_INTERVAL:-300}"
      - --label-enable
      - --cleanup
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock